name: Deploy to EC2


on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: SSH and Update Server
        uses: appleboy/ssh-action@master
        with:
     
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
           
            cd ~/pdf_chatbot_updated
            
            
            git pull origin main
            
         
            docker compose down
            docker compose up -d --build